.conteudo{
	margin-top:50px;
	background-color: rgba(0,0,0,0.7);
	width:50%;
	height:50%;
	margin-left:25%;
	font-size:17px;
	font-family: verdana;
	border-radius:50%;
	padding:5%;
	color: #ffffff;
	border: 2px solid #000000;
	text-align: center;

}
.rodape{
	background-color:black;
	color:white;
}
#titulo{
	font-family:times;
}
.card{
	margin-top:50px;
}
body{
	background-attachment:fixed;
	background-size:100%;
	background-color:#fff;
	background-repeat:repeat;
}
